body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.head-logo {
  padding: 24px 0;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.head-logo-separator {
  color: #2e2f42;
}
.head-navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}
.head-adress {
  display: flex;
  align-items: center;
  gap: 40px;
}
.head-navigation,
.head-adress {
  list-style-type: none;
}
.head-navigation-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.head-navigation-link:hover,
.head-navigation-link:focus {
  color: #404bbf;
}
.add {
  font-style: normal;
  margin-left: auto;
}
.head-adress-link {
  display: block;
  text-decoration: none;
  text-transform: lowercase;
  padding: 24px 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.head-adress-link:hover,
.head-adress-link:focus {
  color: #404bbf;
}

/* main */

/* hero */

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.hero-btn {
  display: block;
  background-color: #4d5ae5;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* advantages */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-container-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
}
.advantages-container-item {
  width: calc((100% - 72px) / 4);
}
.advantages-container-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-container-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* team */

.team-container {
  background-color: #f4f4fd;
}
.team-container-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-container-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
}
.team-container-card {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  background-color: #fff;
}
.team-container-card-text {
  padding: 32px 0;
}
.team-container-card-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-container-card-profession {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* portfolio */

.portfolio-container-title {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  list-style-type: none;
}
.portfolio-container-list-item-text {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
}
.portfolio-container-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-container-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

footer {
  background-color: #2e2f42;
  padding: 100px 0px;
}
.foot-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.foot-logo-separator {
  color: #f4f4fd;
}
.foot-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
